@font-face {
  font-family: 'TT Neoris';
  src: url('../assets/fonts/TT-Neoris-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Neoris';
  src: url('../assets/fonts/TT-Neoris-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Neoris';
  src: url('../assets/fonts/TT-Neoris-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Neoris';
  src: url('../assets/fonts/TT-Neoris-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Имитация веса Black */
@font-face {
  font-family: 'TT Neoris';
  src: url('../assets/fonts/TT-Neoris-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
